{% extends 'index.html' %}
{% load static %}

{% block title %}Correo enviado{% endblock %}

{% block extra_styles %}
{% endblock %}


{% block content %}

<div class="jumbotron p-5 text-center center">
    <h1 class="mb-4">Restablecimiento de contraseña enviado</h1>
    <p>Le hemos enviado al email indicado un correo con las instrucciones para restablecer la contraseña.</p>
    <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</p>
</div>

{% endblock %}