{% extends 'index.html' %}
{% load static %}

{% block title %}Restablecer contraseña{% endblock %}

{% block extra_styles %}
{% endblock %}


{% block content %}
<style>.errorlist{color:red;}</style>

<div class="jumbotron p-5 text-center center">
    <h1 class="mb-4">Restablecer contraseña</h1>
    <p>¿Ha olvidado su contraseña? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
    {{ form.email.errors }}

    <form action="" method="post">{% csrf_token %}
        <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
        <button type="submit" class="btn btn-primary my-3">Confirmar</button>
    </form>
</div>

{% endblock %}