{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{%url 'core:home'%}">
      <figure class="image is-64*64">
        <img src="{{ site.logo.url }}" style="margin: auto;">
      </figure>
    </a>
  </div>

  <div id="navigationBar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'blog:articles' %}"> Blog </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if user.is_authenticated %}
          <a class="button is-primary" href="{% url 'logout' %}">Cerrar sesión</a>
          {% else %}
          <a class="button is-primary" href="{% url 'sign-up'%}">Registrarse</a>
          <a class="button is-primary" href="{% url 'login'%}">
            <strong>Iniciar sesión</strong>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- START NAV -->
<nav class="navbar is-black">
  <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item" href="../">
          <figure class="image">
              <img src="http://www.dict.unam.mx/images/logos/divisiondict.png">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
          <span></span>
          <span></span>
          </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
              <a class="navbar-item is-active">
                      Inicio
                  </a>
              <a class="navbar-item">
                      Academicos
                  </a>
              <a class="navbar-item">
                      Lecturas
                  </a>
              <a class="navbar-item">
                      Temas
                  </a>
              <a class="navbar-item">
                      Kahoots
                  </a>
              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                          Profesores
                      </a>
                  <div class="navbar-dropdown">
                      <a class="navbar-item">
                              Perfil
                          </a>
                      <a class="navbar-item">
                              Ajustes
                          </a>
                      <hr class="navbar-divider">
                      <div class="navbar-item">
                          <div class="field is-grouped">
                              <p class="control">
                                  <a class="button is-small">
                                      <span class="icon">
                                          <i class="fa fa-user-plus"></i>
                                      </span>
                                      <span>
                                          Register
                                      </span>
                                  </a>
                              </p>
                              <p class="control">
                                  <a class="button is-small is-info is-outlined">
                                      <span class="icon">
                                          <i class="fa fa-user"></i>
                                      </span>
                                      <span>Login</span>
                          </a>    
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</nav>
<!-- END NAV -->