{% load static %}

<nav class="navbar is-black">
  <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item" href="{%url 'core:home'%}">
          <figure class="image">
              <img src="http://www.dict.unam.mx/images/logos/divisiondict.png">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
          <span></span>
          <span></span>
          </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
              <a class="navbar-item is-active">
                      Inicio
                  </a>
              <a class="navbar-item">
                      Academicos
                  </a>
              <a class="navbar-item" href="{% url 'blog:articles' %}">
                      Lecturas
                  </a>
            <a class="navbar-item">
                Temas
            </a>
            <a class="navbar-item">
                      Kahoots
            </a>
			<div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Profesores
				</a>
                {% if user.is_authenticated %}
                  <div class="navbar-dropdown">
                      <a class="navbar-item">
                              Perfil
                          </a>
                      <a class="navbar-item">
                              Ajustes
                          </a>
                      <hr class="navbar-divider">
                      <div class="navbar-item">
                          <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-small" href="{% url 'logout' %}">
									<span class="icon"><i class="fa fa-user-plus"></i></span>
									<span>Cerrar sesión</span>
                                </a>
                            </p>
                      </div>
                    </div>
                {% else %}
                <div class="navbar-dropdown">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                          <p class="control">
                              <a class="button is-small" href="{% url 'sign-up'%}">
                                  <span class="icon"><i class="fa fa-user-plus"></i></span>
                                  <span>Registrarse</span>
                              </a>
                          </p>
                          <p class="control">
                              <a class="button is-small is-info is-outlined" href="{% url 'login'%}">
                                    <span class="icon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                  <span>Login</span>
                              </a>
                          </p>
                    </div>
                  </div>
                {% endif %}
              </div>
          </div>
      </div>
  </div>
</nav>
