{% extends "index.html" %}

{% block title %} Nuestros colaboradores {% endblock %}
{% block description %}Las increíbles personas que han realizado al menos una entrada o algún otro trabajo para metastascience.
No seriamos lo que somos si no fuera por ellos.{% endblock %}

{% load static %}

{% block extra_styles %}

{% endblock %}


{% block content %}
<section>
  <div class="container mb-4">
    {% for collaborator in profile_list|dictsort:"id" reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{collaborator.user.first_name}} {{collaborator.user.last_name}}</h2>
          <div>
            <p>{{collaborator.content|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'collaborators:collaborator' collaborator.user.username %}">Ver detalles</a>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
